---
export interface Props {
    title: string;
    content: string;
    img: string;
    altText: string;
}

const { title, content, img, altText } = Astro.props
---

<h1 class="text-center text-6xl font-extrabold mt-10">{title}</h1>
<div class="flex justify-center mt-10">
    <img src={img} width="1024" alt={altText} />
</div>
<div class=" mt-10 w-2/3 m-auto mb-20">
    <section set:html={content} />
</div>
